name: Generate and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate and Deploy
        run: ./generate.sh
        env:
          AZURE_PAT: ${{ secrets.AZURE_PAT }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  deploy:
    needs: generate
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - uses: actions/checkout@v2
        with:
          ref: pages
          path: target
          token: ${{ secrets.GH_PAT }}
      - name: Deploy
        run: |
          cd target
          git rm -rf .
          cp -r ../dist/* .
          git add .
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "chore: deploy"
          git push origin pages